In [1]:
# project: p12
# submitter: zlweinstein
# partner: mhyoung
# hours: 4

In [2]:
import time
import requests
import os
import json
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
def write_json(path, data):
    with open(path, 'w', encoding="utf-8") as f:
        json.dump(data, f, indent=2)

In [4]:
def download(filename, url):
    # Do not download again if the file already exists
    # Use the appropriate os module function to check if the target file already exists
    if os.path.exists(filename):
        return (str(filename) + " already exists!")
    # make the request
    r = requests.get(url)
    r.raise_for_status()
    
    # get the text from the request
    text = r.text
    
    # open the file
    f = open(filename, 'w', encoding="utf-8")
        
        
    # write the text to the file
    f.write(text)
    
    # close the file
    f.close
    return (str(filename) + " created!")

In [5]:
rankings_url = "https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/rankings.json"
download("rankings.json", rankings_url)

'rankings.json already exists!'

In [6]:
read_data = pd.read_json("rankings.json")
rankings = pd.DataFrame(read_data)
rankings

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,2019-2020,Harvard University,USA,1,2.0,1.0,1.0,1.0,100.0
1,2,2019-2020,Massachusetts Institute of Technology,USA,2,1.0,10.0,2.0,5.0,96.7
2,3,2019-2020,Stanford University,USA,3,9.0,3.0,3.0,2.0,95.2
3,4,2019-2020,University of Cambridge,United Kingdom,1,4.0,19.0,5.0,11.0,94.1
4,5,2019-2020,University of Oxford,United Kingdom,2,10.0,24.0,10.0,4.0,93.3
...,...,...,...,...,...,...,...,...,...,...
5995,1996,2021-2022,Santa Catarina State University,Brazil,56,NaN,936.0,NaN,1938.0,65.8
5996,1997,2021-2022,Yancheng Institute of Technology,China,275,NaN,NaN,NaN,1920.0,65.7
5997,1998,2021-2022,Xi'an University of Science and Technology,China,276,NaN,994.0,NaN,1937.0,65.7
5998,1999,2021-2022,CEU San Pablo University,Spain,53,NaN,568.0,NaN,1992.0,65.7
5999,2000,2021-2022,Huzhou University,China,277,NaN,NaN,NaN,1922.0,65.7

In [7]:
#Q1: How many countries do we have in our dataset?
countries = list(set(rankings["Country"]))
len(countries)

103

In [8]:
#Q2: Generate a pandas DataFrame containing all the statistics of the highest-ranked institution based on "World Rank" (Note: highest rank is 1).
highest_ranked = rankings[(rankings["World Rank"] == 1)]
highest_ranked

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,2019-2020,Harvard University,USA,1,2.0,1.0,1.0,1.0,100.0
2000,1,2020-2021,Harvard University,USA,1,3.0,1.0,1.0,1.0,100.0
4000,1,2021-2022,Harvard University,USA,1,1.0,1.0,1.0,1.0,100.0

In [9]:
#Q3: Generate a pandas DataFrame containing all the statistics of "University of Wisconsin–Madison".
uw_madison = rankings[(rankings['Institution'] == 'University of Wisconsin–Madison')]
uw_madison

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
24,25,2019-2020,University of Wisconsin–Madison,USA,19,28.0,80.0,35.0,27.0,87.3
2025,26,2020-2021,University of Wisconsin–Madison,USA,20,34.0,93.0,34.0,31.0,87.2
4024,25,2021-2022,University of Wisconsin–Madison,USA,19,33.0,97.0,29.0,32.0,87.3

In [10]:
#Q4: What is the "National Rank" of the "University of Wisconsin–Madison" in the year 2021-2022?
mad_rank = uw_madison[(uw_madison["Year"] == "2021-2022")].iloc[0,4]
mad_rank

19

In [11]:
#Q5: What is the average score of the "University of Wisconsin–Madison"?
score_series = pd.Series(uw_madison["Score"])
score_series.mean()

87.26666666666667

In [12]:
#Q6: Generate a pandas dataframe containing all the statistics of universities from Singapore in the year 2020-2021.
rankings[(rankings["Country"] == "Singapore") & (rankings["Year"] == "2020-2021")]

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
2094,95,2020-2021,National University of Singapore,Singapore,1,330.0,165.0,NaN,41.0,82.0
2139,140,2020-2021,Nanyang Technological University,Singapore,2,NaN,996.0,NaN,75.0,80.3
3150,1151,2020-2021,Singapore University of Technology and Design,Singapore,3,NaN,NaN,NaN,1092.0,69.4
3286,1287,2020-2021,Singapore Management University,Singapore,4,NaN,NaN,NaN,1225.0,68.7

In [13]:
#Q7: In the year 2019-2020, what was the highest-ranked institution in Germany?
german_best = rankings[(rankings["Country"] == "Germany") & (rankings["Year"] == "2019-2020") & (rankings["National Rank"] == 1)]
german_best.iloc[0, 2]

'Ludwig Maximilian University of Munich'

In [14]:
#Q8: In the year 2019-2020, list all the institutions in the USA ranked better than the highest-ranked institution in Germany.
USA = rankings[(rankings["Country"] == "USA") & (rankings["Year"] == "2019-2020") & (rankings["World Rank"] < german_best.iloc[0, 0])]
USA_inst = list(set(USA["Institution"]))
USA_inst

['University of California, Berkeley',
 'Dartmouth College',
 'University of California San Diego',
 'Rutgers University–New Brunswick',
 'University of North Carolina at Chapel Hill',
 'Johns Hopkins University',
 'Northwestern University',
 'Duke University',
 'California Institute of Technology',
 'University of Illinois at Urbana–Champaign',
 'University of Minnesota - Twin Cities',
 'University of California, San Francisco',
 'University of Texas Southwestern Medical Center',
 'New York University',
 'University of California, Davis',
 'University of Southern California',
 'Cornell University',
 'Stanford University',
 'Washington University in St. Louis',
 'Yale University',
 'University of Michigan, Ann Arbor',
 'Pennsylvania State University',
 'University of Pennsylvania',
 'Harvard University',
 'Princeton University',
 'University of Wisconsin–Madison',
 'Columbia University',
 'University of California, Los Angeles',
 'University of Texas at Austin',
 'Massachusetts Institute of Technology',
 'University of Chicago',
 'Vanderbilt University',
 'University of Washington - Seattle',
 'Brown University']

In [15]:
#Q9: What is the highest-ranked institution based on “Quality of Education Rank” in China for the year 2021-2022?
China = rankings[(rankings["Country"] == "China") & (rankings["Year"] == "2021-2022")]
China_series = pd.Series(China["Quality of Education Rank"])
China_series.min()
highest_ranked = China[China["Quality of Education Rank"] == China_series.min()]
highest_ranked.iloc[0, 2]

'Fudan University'

In [16]:
#Q10: What are the top five highest-ranked institutions based on "Research Performance Rank" in India for the year 2020-2021?
India = rankings[(rankings["Country"] == "India") & (rankings["Year"] == "2020-2021")]
India_sorted = India.sort_values(by="Research Performance Rank").iloc[0:5]
list(India_sorted["Institution"])

['Indian Institute of Science',
 'Tata Institute of Fundamental Research',
 'Indian Institute of Technology Bombay',
 'University of Delhi',
 'Indian Institute of Technology Madras']

In [17]:
year_2019_ranking_df = rankings[rankings["Year"] == "2019-2020"]
year_2020_ranking_df = rankings[rankings["Year"] == "2020-2021"]
year_2021_ranking_df = rankings[rankings["Year"] == "2021-2022"]

set_2019 = set(year_2019_ranking_df["Institution"])
set_2020 = set(year_2020_ranking_df["Institution"])
set_2021 = set(year_2021_ranking_df["Institution"])

institution_2019_2020_2021 = list(set.intersection(set_2019, set_2020, set_2021))
institution_2019_2020_2021

['Sharif University of Technology',
 'Ben-Gurion University of the Negev',
 'Pusan National University',
 'University of South Australia',
 'University of Tokyo',
 'Dongguk University',
 'Brooklyn College',
 'Rensselaer Polytechnic Institute',
 'Sorbonne University',
 'Smith College',
 'Visva-Bharati University',
 'University of Wisconsin–Milwaukee',
 'Aalborg University',
 'Santa Catarina State University',
 'Lodz University of Technology',
 'Adam Mickiewicz University in Poznań',
 'Chiang Mai University',
 'Sunchon National University',
 'University of Augsburg',
 'Tomsk State University',
 'University of California, Los Angeles',
 'National University of Mar del Plata',
 'University of Nairobi',
 'Kuwait University',
 'Dartmouth College',
 'University of Queensland',
 'Union College',
 'Menlo College',
 'Meijo University',
 'Federal University of Mato Grosso',
 'Hanken School of Economics',
 'University of Texas Southwestern Medical Center',
 'Istanbul Bilgi University',
 'University of Oulu',
 'College of Charleston',
 'University of Malawi',
 'University of Southern California',
 'Claremont McKenna College',
 'University of Pisa',
 'University of the Basque Country',
 'Federal University of Ceará',
 'National Cheng Kung University',
 'National University of Córdoba',
 'Marquette University',
 'Shihezi University',
 'Freiberg University of Mining and Technology',
 'Sejong University',
 'Hebei University of Technology',
 'Worcester Polytechnic Institute',
 'Central University of Finance and Economics',
 'Jiangxi Normal University',
 'Federal University of Paraná',
 'Indian Institute of Science',
 'Catholic University of Daegu',
 'University of Lodz',
 'University of KwaZulu-Natal',
 'University of Santiago, Chile',
 'Federal University of Mato Grosso do Sul',
 'University of East Anglia',
 'Harbin Engineering University',
 'Shanghai University of Finance and Economics',
 'Showa University',
 'University of Koblenz-Landau',
 'University of Lincoln',
 'University of Colorado Boulder',
 'University of Avignon',
 'University of Toronto',
 'Sohag University',
 'University at Buffalo',
 'Annamalai University',
 'Czech Technical University in Prague',
 'Grenoble Alpes University',
 'European University Institute',
 'Banaras Hindu University',
 'University of Strasbourg',
 'Shanghai Institute of Technology',
 'San Jose State University',
 'Hamburg University of Technology',
 'Trent University',
 'Sanjay Gandhi Postgraduate Institute of Medical Sciences',
 'Tomsk Polytechnic University',
 'Medical University of Graz',
 'Ningxia Medical University',
 'Ondokuz Mayıs University',
 'Anhui Normal University',
 'University of Sfax',
 'Hong Kong Baptist University',
 'Wuhan University',
 'University of Cyprus',
 'Nanjing Tech University',
 'Central South University',
 'American University of Beirut',
 'National Chung Cheng University',
 'University of Bialystok',
 "King Mongkut's University of Technology Thonburi",
 'University of Technology Sydney',
 'West Pomeranian University of Technology, Szczecin',
 'East China Normal University',
 'University of the West of England, Bristol',
 'Purdue University',
 'Gdańsk University of Technology',
 'Sapporo Medical University',
 'Massachusetts Institute of Technology',
 'Western Michigan University',
 'University of Bristol',
 'University of Tulsa',
 'University of North Florida',
 'University of Texas at San Antonio',
 'Indian Institute of Technology Hyderabad',
 'Shantou University',
 'Swedish University of Agricultural Sciences',
 'Swansea University',
 'National Defense Medical College',
 'Jiangnan University',
 'Henan University',
 'Dalian University of Technology',
 'Lanzhou University',
 'Justus Liebig University Giessen',
 'University of Ottawa',
 'University of Naples Parthenope',
 'University of Manitoba',
 'University of Niš',
 'Diego Portales University',
 'University of Costa Rica',
 'University of Louisville',
 'Medical University of Silesia',
 'National University of Cuyo',
 'University of Glasgow',
 'Jiangsu University',
 'Indian Institute of Science Education and Research, Kolkata',
 'Aga Khan University',
 'Maynooth University',
 'Indian Institute of Management Calcutta',
 'Kermanshah University of Medical Sciences',
 'Hannover Medical School',
 'Taipei Medical University',
 'University of Geneva',
 'Guangzhou University',
 'Nanjing University of Aeronautics and Astronautics',
 'SUNY Upstate Medical University',
 'Beijing Institute of Technology',
 'University of New Orleans',
 'University of Namur',
 'University of Saskatchewan',
 'Southern Methodist University',
 'University of Las Palmas de Gran Canaria',
 'University of Technology of Belfort-Montbéliard',
 'University of Fukui',
 'Zhejiang Chinese Medical University',
 'University of Miyazaki',
 'University of South Wales',
 'University of Pennsylvania',
 'Al-Azhar University',
 'Princeton University',
 'Jichi Medical University',
 'University of Crete',
 'China Jiliang University',
 'University of Missouri-St. Louis',
 'Medical University of Vienna',
 'Federal University of Rio de Janeiro',
 'Liverpool John Moores University',
 'École Polytechnique Fédérale de Lausanne',
 'University of Southern Denmark',
 'Baylor University',
 'Chemnitz University of Technology',
 'University of Monastir',
 'Kagoshima University',
 'University of Stavanger',
 'University of Birmingham',
 'Sivas Cumhuriyet University',
 'Technical University of Braunschweig',
 'Wenzhou University',
 'Hong Kong University of Science and Technology',
 'Kazan Federal University',
 'AGH University of Science and Technology',
 'Erzincan Binali Yıldırım University',
 'Shizuoka University',
 'University of Pannonia',
 'University of Wisconsin–Madison',
 'Huazhong University of Science and Technology',
 'James Madison University',
 'National Institute of Technology, Tiruchirappalli',
 "Nara Women's University",
 'Tufts University',
 'National Chiayi University',
 'Hangzhou Dianzi University',
 'Norwegian School of Economics',
 'Wilfrid Laurier University',
 'Sonoma State University',
 'Catholic University of the North',
 "Xi'an University of Architecture and Technology",
 'Bocconi University',
 'Rutgers University–New Brunswick',
 'Shenzhen University',
 'Guangxi Normal University',
 'Auckland University of Technology',
 'Okinawa Institute of Science and Technology',
 'University of Aveiro',
 'Wageningen University & Research',
 'Sultan Qaboos University',
 'China Europe International Business School',
 "École nationale d'administration",
 'Hefei University of Technology',
 'Amirkabir University of Technology',
 'University of Alaska Anchorage',
 'Federal University of Viçosa',
 'Carleton University',
 'Josip Juraj Strossmayer University of Osijek',
 'University of Brasília',
 'Miami University',
 'Macau University of Science and Technology',
 'Donghua University',
 'Louisiana Tech University',
 'Nanjing Agricultural University',
 'Macquarie University',
 'Savoie Mont Blanc University',
 'University of Naples Federico II',
 'Pohang University of Science and Technology',
 'Changzhou University',
 'Iwate University',
 'University of Basel',
 'Jamia Millia Islamia',
 'University of Science, Malaysia',
 'Hunter College',
 'Ghent University',
 'Michigan Technological University',
 'Campus Bio-Medico University',
 'Anhui Agricultural University',
 'Hunan Agricultural University',
 'Air Force Medical University',
 'Hokkaido University',
 'Stanford University',
 'Beijing Jiaotong University',
 'Southwest University of Science and Technology',
 'King Saud University',
 'Tokyo University of Pharmacy and Life Sciences',
 'University of Valladolid',
 'Army Medical University',
 'Tianjin University',
 'Federal University of Bahia',
 'North China University of Science and Technology',
 'Trinity College Dublin',
 'Utah State University',
 'Nagoya Institute of Technology',
 'University of Colorado Colorado Springs',
 "St. John's University",
 'Benha University',
 'Nanyang Technological University',
 'Mahidol University',
 'Federal University of Pará',
 'University of Zagreb',
 'Linyi University',
 'Edinburgh Napier University',
 'Ehime University',
 'University of Djillali Liabès, Sidi Bel-Abbès',
 'Tarbiat Modares University',
 'Bowdoin College',
 'Oita University',
 'University of Franche-Comté',
 'Curtin University',
 'Hofstra University',
 'Nottingham Trent University',
 'Colorado School of Mines',
 'Uppsala University',
 'Razi University',
 'Stevens Institute of Technology',
 'Hong Kong Polytechnic University',
 'Northumbria University',
 'École nationale supérieure de chimie de Montpellier',
 'Ulster University',
 'Zhengzhou University',
 'Federal University of Alagoas',
 'Icahn School of Medicine at Mount Sinai',
 'British University in Egypt',
 'University of Isfahan',
 'Osaka Prefecture University',
 "Peoples' Friendship University of Russia",
 'Shahid Beheshti University',
 'Fuzhou University',
 'University of Zambia',
 'Nanjing University of Information Science and Technology',
 'İzmir Institute of Technology',
 'Qingdao Agricultural University',
 'University of Jinan',
 'University of Virginia',
 'Nagoya City University',
 'University of Texas at Austin',
 'University of Alberta',
 'Myongji University',
 'Lappeenranta University of Technology',
 'Feng Chia University',
 'University of Tsukuba',
 'Griffith University',
 'University of Wrocław',
 'Kwansei Gakuin University',
 "Queen's University Belfast",
 'University of Alabama in Huntsville',
 'Le Mans University',
 'University of Upper Alsace',
 'Humanitas University',
 'Waseda University',
 'Juntendo University',
 'Shaanxi University of Science and Technology',
 'University of Illinois at Urbana–Champaign',
 'Kunming Medical University',
 'University of Castilla–La Mancha',
 'University of Tennessee, Knoxville',
 'Henan University of Science and Technology',
 'York University',
 'Norwegian University of Life Sciences',
 'Idaho State University',
 'Kyung Hee University',
 'University of Mazandaran',
 'Haverford College',
 'Brno University of Technology',
 'Virginia Commonwealth University',
 'Federal University of ABC',
 'Rowan University',
 'Southeast University',
 'Menoufia University',
 'Jagiellonian University',
 'University of Veracruz',
 'Polytechnic University of Turin',
 'Heilongjiang University',
 'National University of Distance Education',
 'California State University, Long Beach',
 'University of Electronic Science and Technology of China',
 'Alexandria University',
 'Northeast Forestry University',
 'University of Marburg',
 'University of North Carolina at Chapel Hill',
 'University of California, Santa Cruz',
 'Brigham Young University',
 'Tianjin Normal University',
 'Tehran University of Medical Sciences',
 'China Medical University, PRC',
 'Fujian Normal University',
 'University of Trento',
 'New York University',
 'Carnegie Mellon University',
 'Taras Shevchenko National University of Kyiv',
 'University of Science and Technology, Korea',
 'Tokyo Medical and Dental University',
 'California Polytechnic State University, San Luis Obispo',
 'Fluminense Federal University',
 'University of Alabama at Birmingham',
 'University of Nantes',
 'Cairo University',
 'Karlstad University',
 'Simon Fraser University',
 'University of Richmond',
 'China West Normal University',
 'San Diego State University',
 'University of New England, Australia',
 'University of Antwerp',
 'National Institute of Technology, Rourkela',
 'University of Puerto Rico, Río Piedras Campus',
 'University of Clermont Auvergne',
 'University of Leoben',
 'Isfahan University of Medical Sciences',
 'Oakland University',
 'University of South Africa',
 'King Abdulaziz University',
 'Royal Holloway, University of London',
 'University of Hull',
 'Antonio Nariño University',
 'Metropolitan Autonomous University',
 'University of Insubria',
 'Amrita Vishwa Vidyapeetham',
 'College of the Holy Cross',
 'Cheikh Anta Diop University of Dakar',
 'University of Aberdeen',
 'Nanchang Hangkong University',
 'University Paris 1 Panthéon-Sorbonne',
 'University of the Republic, Uruguay',
 'National Taiwan University of Science and Technology',
 'Queensland University of Technology',
 'Zhejiang Normal University',
 'Federal University of Santa Maria',
 'Harokopio University',
 'University of Science and Technology Beijing',
 'Southern Federal University',
 'Adıyaman University',
 'University College Dublin',
 'University of Denver',
 'Toho University',
 'Lithuanian University of Health Sciences',
 'Qingdao University of Science and Technology',
 'Southern Cross University',
 'Shahid Beheshti University of Medical Sciences',
 'University of Minnesota Duluth',
 'Pontifical Catholic University of Valparaíso',
 'University of California, San Francisco',
 'Jaume I University',
 'Bowling Green State University',
 'Fukushima Medical University',
 'Tohoku University',
 'Tallinn University of Technology',
 'National Kaohsiung University of Science and Technology',
 'University of Warmia and Mazury in Olsztyn',
 'Fukuoka University',
 'Polytechnic Institute of Porto',
 'Saint Petersburg University',
 'University of Algarve',
 'Texas State University',
 'University of Cologne',
 'Chalmers University of Technology',
 'China Three Gorges University',
 'SOAS University of London',
 'Northeast Normal University',
 'Indian Institute of Technology (BHU) Varanasi',
 'Ss. Cyril and Methodius University in Skopje',
 'University of Toledo',
 'University of Modena and Reggio Emilia',
 'Chungnam National University',
 'Renmin University of China',
 'University of Maryland, Baltimore',
 'Rutgers University–Newark',
 'Getúlio Vargas Foundation',
 'University of Minho',
 'Nara Institute of Science and Technology',
 'Ajou University',
 'Shiga University of Medical Science',
 'University of Notre Dame Australia',
 'Saga University',
 'University of Lille',
 'University of California, Berkeley',
 'University of Canterbury',
 'University of Rajasthan',
 'University of North Carolina Wilmington',
 'Shanghai Normal University',
 'University of Dundee',
 'Kanazawa Medical University',
 'University of Vienna',
 'Toulouse 1 Capitole University',
 'Poznań University of Life Sciences',
 'Chung Yuan Christian University',
 'University of Malta',
 'Tsinghua University',
 'Yıldız Technical University',
 'Harvard University',
 'Western Norway University of Applied Sciences',
 'Wuhan Institute of Technology',
 'Capital Medical University',
 'Lund University',
 'Chinese University of Hong Kong',
 'DePaul University',
 'Graduate University for Advanced Studies',
 'University of Pretoria',
 'Université catholique de Louvain',
 'PLA University of Science and Technology',
 'International Islamic University Malaysia',
 'University of Santiago de Compostela',
 'Syracuse University',
 'Southwest Jiaotong University',
 'Tilburg University',
 'Chongqing University',
 'Washington and Lee University',
 'Hebei Normal University',
 'University of Trieste',
 'Guglielmo Marconi University',
 'University of Agder',
 'University of Victoria',
 'Changsha University of Science and Technology',
 'Tanta University',
 'University of Angers',
 'University of Amsterdam',
 'University of Cape Town',
 'Tunghai University',
 'Tongji University',
 'University of Tübingen',
 'Technical University of Berlin',
 'National University of Rosario',
 'Bahauddin Zakariya University',
 'University of Verona',
 'University of Western Brittany',
 'Free University of Bozen-Bolzano',
 'Shenyang Agricultural University',
 'Binghamton University',
 'University of Reading',
 'Kumamoto University',
 'Beijing Normal University',
 'Architectural Association School of Architecture',
 'University of Windsor',
 'University of Turin',
 'University of Milano-Bicocca',
 'Kyoto University of Education',
 'China University of Mining and Technology',
 'Kanazawa Institute of Technology',
 'Australian National University',
 'Sichuan Normal University',
 'Tottori University',
 'Pepperdine University',
 'Imperial College London',
 'University of Indonesia',
 'University of Debrecen',
 'Danube University Krems',
 'Henan Agricultural University',
 'University of Puerto Rico at Mayagüez',
 'University of Genoa',
 'Kafkas University',
 'University of Valparaíso',
 'Queens College, City University of New York',
 'University of Bath',
 'Pontifical Catholic University of Rio de Janeiro',
 'Federal University of Amazonas',
 'Fordham University',
 'Ankara University',
 'University of Salamanca',
 'Shandong University',
 'University of Québec at Trois-Rivières',
 'Radboud University',
 'Huazhong Agricultural University',
 'Federico Santa María Technical University',
 'University of Picardie Jules Verne',
 'Tzu Chi University',
 'Kōchi University',
 'Tamil Nadu Dr. M.G.R. Medical University',
 'Birla Institute of Technology and Science, Pilani',
 'Ain Shams University',
 'University of Oslo',
 'Anglia Ruskin University',
 'Wake Forest University',
 'University of Rochester',
 'Indian Institute of Technology (Indian School of Mines), Dhanbad',
 'Wrocław University of Environmental and Life Sciences',
 'Case Western Reserve University',
 'Comenius University in Bratislava',
 'University of Jyväskylä',
 'University of Copenhagen',
 'Cracow University of Technology',
 'Southern Medical University',
 'University of Science and Technology of China',
 'University of Bergamo',
 'Lincoln University',
 'National and Kapodistrian University of Athens',
 'Palacký University Olomouc',
 'University of Sassari',
 'China Pharmaceutical University',
 'Sichuan University',
 'Central European University',
 'INSA Toulouse',
 'University of Arkansas at Little Rock',
 'University of Seoul',
 'University of Karachi',
 'Federal University of Rio Grande',
 'University of Regina',
 'University of Lausanne',
 'University of Texas at Arlington',
 'Eindhoven University of Technology',
 'Michoacán University of San Nicolás of Hidalgo',
 'Vellore Institute of Technology',
 'Nanchang University',
 'Technion – Israel Institute of Technology',
 'Chulalongkorn University',
 'Weizmann Institute of Science',
 'Yokohama National University',
 'Charles Darwin University',
 'University of Calcutta',
 'Babson College',
 'Hunan University',
 'National University of Science and Technology MISiS',
 'Liaocheng University',
 'Mohammed V University',
 'Kookmin University',
 'AgroSup Dijon',
 'Middle East Technical University',
 'Federal University of São Carlos',
 'University of São Paulo',
 'Vietnam National University, Ho Chi Minh City',
 'University of Central Lancashire',
 'University of Carthage',
 'Transilvania University of Brașov',
 'Drew University',
 'Missouri University of Science and Technology',
 'University of Manchester',
 'University of Toulouse-Jean Jaurès',
 'University of Montpellier',
 'HEC Paris',
 'University of Almería',
 'University of Freiburg',
 'Cayetano Heredia Peruvian University',
 'University of Palermo',
 'China Medical University, Taiwan',
 'University of West Bohemia',
 'Northeastern University, China',
 'Daegu Gyeongbuk Institute of Science and Technology',
 'University of Alicante',
 'National Dong Hwa University',
 'University of Southern Queensland',
 'University of Maryland, Baltimore County',
 'Complutense University of Madrid',
 'University of Surrey',
 'Ball State University',
 'Rochester Institute of Technology',
 'Federal University of Ouro Preto',
 'Qufu Normal University',
 'Massey University',
 'Nanjing University of Posts and Telecommunications',
 'Institut national des sciences appliquées de Lyon',
 'Yokohama City University',
 'Tokushima University',
 'East China University of Science and Technology',
 'Akdeniz University',
 'Indian Institute of Management Ahmedabad',
 'Putra University, Malaysia',
 'Gyeongsang National University',
 'Belarusian State University',
 "University of Évry Val d'Essonne",
 'University of Exeter',
 'University of Bergen',
 'University of Alabama - Tuscaloosa',
 'Erasmus University Rotterdam',

In [18]:
#Q11: How many institutions have rankings for all three years?
len(institution_2019_2020_2021)

1856

In [19]:
institutions = []

for institution in institution_2019_2020_2021: # use your output list from Q11 here
    year_2019_ranking = year_2019_ranking_df[year_2019_ranking_df["Institution"] == institution].iloc[0,0]
    year_2020_ranking = year_2020_ranking_df[year_2020_ranking_df["Institution"] == institution].iloc[0,0]
    year_2021_ranking = year_2021_ranking_df[year_2021_ranking_df["Institution"] == institution].iloc[0,0]

    # now let's create a dictionary representation of the institution
    # each key corresponds to the column of the DataFrame we want to build
    institution_info = {}
    institution_info['Institution'] = institution
    institution_info['2019_ranking'] = year_2019_ranking
    institution_info['2020_ranking'] = year_2020_ranking
    institution_info['2021_ranking'] = year_2021_ranking

    institutions.append(institution_info)

institutions_df = pd.DataFrame(institutions)
institutions_df

,Institution,2019_ranking,2020_ranking,2021_ranking
0,Sharif University of Technology,615,608,612
1,Ben-Gurion University of the Negev,335,349,355
2,Pusan National University,445,449,449
3,University of South Australia,513,521,523
4,University of Tokyo,13,14,13
...,...,...,...,...
1851,PETRONAS University of Technology,1822,1877,1824
1852,Mersin University,1160,1095,1079
1853,Shanxi University,870,821,771
1854,Lakehead University,1218,1294,1280
1855,Guangxi Medical University,1394,1309,1269

In [20]:
#Q12: Between the years 2019-2020 and 2021-2022, list the institutions which have seen an improvement in their "World Rank" by more than 500 ranks.
institutions_df["difference"] = institutions_df["2019_ranking"] - institutions_df["2021_ranking"]
list(institutions_df[(institutions_df["difference"] > 500)].iloc[:, 0])

['Federal University of Mato Grosso do Sul',
 'École nationale supérieure de chimie de Montpellier',
 'Haverford College',
 'SOAS University of London',
 'Academy of Scientific & Innovative Research',
 'Tôn Đức Thắng University',
 'Antioch College',
 'International Institute for Management Development',
 'USI - University of Italian Speaking Switzerland']

In [21]:
#Q13: Between the years 2019-2020 and 2021-2022, which institution had the largest change in its "World Rank"?
instit_series = pd.Series(institutions_df["difference"])
instit_series.max()
institutions_df[institutions_df["difference"] == instit_series.max()].iloc[0,0]

'USI - University of Italian Speaking Switzerland'

In [22]:
#Q14: For all the three years, find the number of institutions that improved their World Rank each year.
institutions_df["difference20"] = institutions_df["2019_ranking"] - institutions_df["2020_ranking"]
institutions_df["difference21"] = institutions_df["2020_ranking"] - institutions_df["2021_ranking"]
institutions_df
pos_rank = institutions_df[(institutions_df["difference20"] > 0) & (institutions_df["difference21"] > 0)]
len(pos_rank)

451

In [23]:
#Q15: In the year 2020-2021, list the institutions which are within the top 10 in the world based on "Alumni Employment Rank" but do not feature in the top 10 of the world ranking.
alum_set = set(year_2020_ranking_df.sort_values(by="Alumni Employment Rank").iloc[0:11]["Institution"])
world_set = set(year_2020_ranking_df.sort_values(by="World Rank").iloc[0:11]["Institution"])
list(alum_set - world_set)

['Institut Polytechnique de Paris',
 'University of Tokyo',
 'International Institute for Management Development',
 'China Europe International Business School',
 'INSEAD',
 "École nationale d'administration",
 'HEC Paris']

In [24]:
#Q16: List the universities which ranked in the top 100 of world rankings in the year 2019-2020 but failed to do so in the rankings of year 2021-2022.
world_2019 = set(year_2019_ranking_df.sort_values(by="World Rank").iloc[0:101]["Institution"])
world_2021 = set(year_2021_ranking_df.sort_values(by="World Rank").iloc[0:101]["Institution"])
list(world_2019-world_2021)

['University of Groningen',
 'École Polytechnique Fédérale de Lausanne',
 'Paris-Sud University',
 'University of California San Diego',
 'Paris Diderot University',
 'University of Texas MD Anderson Cancer Center',
 'Aarhus University',
 'École normale supérieure',
 'École Polytechnique',
 'Emory University',
 'University of Utah',
 'Tufts University']

In [25]:
#Q17: List the countries which have at least 10 institutions featuring in the top 100 of world rankings in the year 2020-2021.
top_100 = year_2020_ranking_df.iloc[0:100]
top_100_series = top_100["Country"].value_counts() 
institutions = top_100_series.index[top_100_series >= 10]
list(institutions)

['USA', 'United Kingdom']

In [26]:
url_19 = 'https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/2019-2020.html'
url_20 = 'https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/2020-2021.html'
url_21 = 'https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/2021-2022.html'
download('2019-2020.html', url_19)
download('2020-2021.html', url_20)
download('2021-2022.html', url_21)

'2021-2022.html already exists!'

In [27]:
def parse_html(html_file):
    f = open(html_file)
    year_str = f.read()
    f.close()

    bs_obj = BeautifulSoup(year_str, "html.parser")
    
    table = bs_obj.find("table") # works only when you have exactly 1 table
    header = [th.get_text() for th in table.find_all('th')]

    year_data = []

    tr_elements = table.find_all('tr')
    for tr in tr_elements[1:]: # Skip first row (header row)
        row = {}
        row["Year"] = html_file[0:9]
        td_elements = tr.find_all('td')
        for idx in range(len(td_elements)):
            td = td_elements[idx]
            val = td.get_text()      
            if val == "-":
                row[header[idx]] = None
            elif header[idx] in ["World Rank", "National Rank"]:
                row[header[idx]] = int(val)
            elif header[idx] in ["Institution", "Country"]:
                row[header[idx]] = str(val)
            elif header[idx] in ["Quality of Education Rank", "Alumni Employment Rank", "Quality of Faculty Rank", "Research Performance Rank", "Score"]:
                row[header[idx]] = float(val)
            else:
                row[header[idx]] = val
        year_data.append(row)   
    return year_data

In [28]:
assert(parse_html("2019-2020.html")[-1]["Institution"] == 'Government College University Faisalabad')
assert(parse_html("2020-2021.html")[15]["Score"] == 89.0)
assert(parse_html("2021-2022.html")[100]["Country"] == 'United Kingdom')
assert(parse_html("2021-2022.html")[25]["World Rank"] == 26)
assert(parse_html("2020-2021.html")[-5]["National Rank"] == 15)
assert(parse_html("2019-2020.html")[50]["Quality of Faculty Rank"] == 78)
assert(parse_html("2021-2022.html")[87]["Alumni Employment Rank"] == 464)
assert(parse_html("2020-2021.html")[40]["Research Performance Rank"] == 398)
assert(parse_html("2019-2020.html")[0]["Year"] == "2019-2020")

In [29]:
#Q18: Use BeautifulSoup to parse 2019-2020.html, and find the table containing the ranking data. What are the column names of this table?
df_2019_2020 = pd.DataFrame(parse_html("2019-2020.html"))
list(df_2019_2020.iloc[0].index)[1:]

['World Rank',
 'Institution',
 'Country',
 'National Rank',
 'Quality of Education Rank',
 'Alumni Employment Rank',
 'Quality of Faculty Rank',
 'Research Performance Rank',
 'Score']

In [30]:
#Q19: Parse the contents of the table you found in 2019-2020.html and represent it as a list of dicts. What are the first 5 dictionaries in the list?
parse_html("2019-2020.html")[0:5]

[{'Year': '2019-2020',
  'World Rank': 1,
  'Institution': 'Harvard University',
  'Country': 'USA',
  'National Rank': 1,
  'Quality of Education Rank': 2.0,
  'Alumni Employment Rank': 1.0,
  'Quality of Faculty Rank': 1.0,
  'Research Performance Rank': 1.0,
  'Score': 100.0},
 {'Year': '2019-2020',
  'World Rank': 2,
  'Institution': 'Massachusetts Institute of Technology',
  'Country': 'USA',
  'National Rank': 2,
  'Quality of Education Rank': 1.0,
  'Alumni Employment Rank': 10.0,
  'Quality of Faculty Rank': 2.0,
  'Research Performance Rank': 5.0,
  'Score': 96.7},
 {'Year': '2019-2020',
  'World Rank': 3,
  'Institution': 'Stanford University',
  'Country': 'USA',
  'National Rank': 3,
  'Quality of Education Rank': 9.0,
  'Alumni Employment Rank': 3.0,
  'Quality of Faculty Rank': 3.0,
  'Research Performance Rank': 2.0,
  'Score': 95.2},
 {'Year': '2019-2020',
  'World Rank': 4,
  'Institution': 'University of Cambridge',
  'Country': 'United Kingdom',
  'National Rank': 1,
  'Quality of Education Rank': 4.0,
  'Alumni Employment Rank': 19.0,
  'Quality of Faculty Rank': 5.0,
  'Research Performance Rank': 11.0,
  'Score': 94.1},
 {'Year': '2019-2020',
  'World Rank': 5,
  'Institution': 'University of Oxford',
  'Country': 'United Kingdom',
  'National Rank': 2,
  'Quality of Education Rank': 10.0,
  'Alumni Employment Rank': 24.0,
  'Quality of Faculty Rank': 10.0,
  'Research Performance Rank': 4.0,
  'Score': 93.3}]

In [31]:
#Q20: Parse the contents of 2019-2020.html, 2020-2021.html, and 2021-2022.html and combine them to create a file titled my_rankings.json.
parsed2019 = parse_html("2019-2020.html")
parsed2020 = parse_html("2020-2021.html")
parsed2021 = parse_html("2021-2022.html")

parsed2019.extend(parsed2020)
parsed2019.extend(parsed2021)


write_json("my_rankings.json", parsed2019)